#sender {
    display: none;
}
.container {
    background-color: rgb(236, 131, 222);
    height: 100vh;
}
.delete {
    color: rgb(255, 0, 0);
}
h1 {
    font-family:sans-serif;
}
.message::placeholder {
        color: palevioletred;
        font-size: 1.3em;
}
.sender::placeholder {
    color: palevioletred;
    font-size: 1.3em;
}
.submit {
    color: rgb(68, 6, 238);
}
h1 {
    text-align: center;
}
#chat-form {
    display: flex;
    justify-content: center;
}
#message-list {
    list-style: none;
    display: flex;
    max-height: 100%;
    flex-direction: column;
    justify-content: center;
}
.chat {
margin-top: 20px;
display: flex;
justify-content: center;
}
