#sender {
    display: none;
}

.delete {
    color: red;
}

ul {
    list-style: none;
}
.submit {
    color: rgb(238, 6, 141);
}
Body {
    background: url('/Users/isaacbarcroft/Documents/ccs/homework/FETCH/images/chatty.jpeg') 275px 200px no-repeat;
}
h1 {
    text-align: center;
}